html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 1;
}

body
{
	margin-top:200px;
	margin-bottom:200px;
}

lable{
	
	font-family:jokerman;
	}
	


 


  